/*
  devonbahary.name
    styles
      landing.css
*/

* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

/* heading navigation ------------------------------------------------------- */
.header {
  position: fixed;
  z-index: 1;
  top: 0; left: 0; right: 0;
  height: 2rem;
  margin: 0 auto;
}

.header .header-item {
  /* font */
  font-family: 'Khula', sans-serif;
  font-weight: bold;
  font-size: 0.7rem;
  color: white;
  letter-spacing: 3px;
  text-shadow: 1px 1px black;
  text-transform: uppercase;
  /* list */
  list-style: none;
  /* dimensions */
  line-height: 2rem;
  padding: auto 0;
  text-align: center;
  background-color: rgba(25, 25, 25, 0.7);
  /* effects */
  cursor: pointer;
  transition: 0.2s ease-out;
}

.header .header-item:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
}

.header .header-item .ionicon {
  margin-right: 10px;
}

/* main LANDING ------------------------------------------------------------- */
.landing {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.landing .landing-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.landing .landing-section#first {
  background-image: url('../assets/images/alley.jpg');
  background-position: 30% 0;
}

.landing .landing-section#second {
  background-image: url('../assets/images/city.jpg');
  border-top: 4px solid rgba(25, 25, 25, 0.7);
  border-bottom: 4px solid rgba(25, 25, 25, 0.7);
  background-position: 80% 20%;
}

.landing .landing-section#third {
  background-image: url('../assets/images/barbell.jpg');
  background-position: 52% 0%;
}

.landing-section .dialogue-box {
  /* font */
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 1.4rem;
  /* dimensions */
  position: absolute;
  width: auto;
  height: auto;
  line-height: 3rem;
  border-radius: 5px;
  padding: 3px 12px;
  background-color: rgba(10, 10, 10, 0.9);
  bottom: 20%;
  /* effects */
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
          transition: 0.2s ease-out;
}

.landing-section .dialogue-box .ionicon {
  margin-right: 10px;
}

.landing-section#first .dialogue-box { left: 10%; }
.landing-section#second .dialogue-box { right: 10%; }
.landing-section#third .dialogue-box { left: 10%; bottom: 15%; }

.landing-section .dialogue-box:hover {
  background-color: rgba(255, 255, 255, 0.6);
  text-shadow: 2px 1px black;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}


.landing-section#first .dialogue-box:hover {
   background-color: rgba(38, 45, 165, 0.6);
}

.landing-section#second .dialogue-box:hover {
  background-color: rgba(214, 164, 70, 0.6);
}

.landing-section#third .dialogue-box:hover {
  background-color: rgba(194, 39, 39, 0.6);
}

/* GRID implementation ------------------------------------------------------ */
.column {
  float: left;
  padding: 0 1rem;
  margin: 0;
  box-sizing: border-box;
}
.column.full    { width: 100%; }
.column.half     { width: 50%; }
.column.third   { width: 33.3%; }
.column.fourth  { width: 25%; }

/* housekeeping ------------------------------------------------------------- */
.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


/* media queries ------------------------------------------------------------ */
@media only screen and (min-width: 640px) {
  /* convert half-width elements to quarter-width on small screens */
  .column.half { width: 25%; }
}
/* -------------------------------------------------------------------------- */
