/*
  devonbahary.name
    styles
      landing.css
*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../assets/images/asanoha.png);
  background-position: center center;
  background-repeat: repeat-y;
  background-size: cover;
}

/* heading navigation ------------------------------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0; right: 0;
  height: 2rem;
  margin: 0 auto;
  background-color: rgba(25, 25, 25, 0.7);
}

.header .header-item {
  /* font */
  font-family: 'Khula', sans-serif;
  font-weight: bold;
  font-size: 0.7rem;
  color: white;
  letter-spacing: 3px;
  text-shadow: 1px 1px black;
  text-transform: uppercase;
  /* list */
  list-style: none;
  /* dimensions */
  line-height: 2rem;
  padding: auto 0;
  text-align: center;
  /* transition */
  transition: 0.2s ease-out;
}

.header .header-item:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.6);
}
/* -------------------------------------------------------------------------- */

/* main LANDING ------------------------------------------------------------- */
main.landing {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

main.landing #first {
  width: 100%;
  height: 100vh;
  background-image: url("https://i.ytimg.com/vi/k7pQYs6ysXs/maxresdefault.jpg");
  background-size: cover;
}

main.landing #second {
  width: 100%;
  height: 100vh;
  background-image: url("http://allswalls.com/images/city-background-wallpaper-1.jpg");
  background-size: cover;
}

/* -------------------------------------------------------------------------- */

/* GRID implementation ------------------------------------------------------ */
.column {
  float: left;
  padding: 0 1rem;
  margin: 0;
  box-sizing: border-box;
}
.column.full    { width: 100%; }
.colum.half     { width: 50%; }
.column.third   { width: 33.3%; }
.column.fourth  { width: 25%; }
/* -------------------------------------------------------------------------- */
